@import '/src/styles/variables.scss';

.slide-container {
    font-size: 1.2em;
    // min-height: 80vh;
    min-height: 40rem;
    position: relative;
    background-size: cover;
    resize: both;
    background-position: center;
    padding: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .slide-title {
        text-align: center;
        font-weight: bold;
        color: white;
        text-shadow: 0 0 0.5rem #000;
        margin: 1rem;
        line-height: 1;
    }

    .slide-button {
        font-size: 1.2em;
        color: white;
        font-weight: bold;
        padding: 0.3rem 1rem;
        background: rgba(0, 0, 0, 0.3);
        border: 1px solid white;
        border-radius: 1rem;
        margin: 1rem;
        transition: transform 0.1s linear;
        text-shadow: 0 0 0.7em #000;

        &:hover {
            transform: scale(1.1);
        }
    }
}