@import './styles/variables.scss';

.App {
    padding-top: $headerSize;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    width: 80%;

    @include breakpoint {
        width: 90%;
    }
}