@import '/src/styles/variables.scss';

.login {
    margin-top: 2rem;

    .section-header {
        font-size: 1.4rem;
        padding: 1rem;
        margin-bottom: 2em;
        border-top: 2px solid $primary;
        border-bottom: 2px solid $primary;

        .auth-link-list {
            display: flex;
            justify-content: center;
            align-items: center;

            .auth-link-list-item {
                flex-basis: 15rem;
                text-align: center;

                .auth-link {
                    color: $secondary;
                    display: block;
                    width: 100%;
                    border-bottom: 2px solid $light;

                    &.active {
                        color: $dark;
                        border-bottom: 2px solid $primary;
                    }
                }
            }
        }
    }

    .login-form {
        display: flex;
        flex-direction: column;
        max-width: 25em;
        margin: 0 auto;

        label {
            margin-top: 0.5em;
            text-transform: capitalize;
        }

        input,
        textarea {
            border: 1px solid $primary;
            border-radius: 1em;
            padding: 0.5em;

            &.error {
                // border-width: 2px;
                border-color: $sale;
                color: $sale;
            }
        }

        .errors {
            font-size: 0.8em;
            color: $sale;
        }

        .submit-button {
            font-size: 1rem;
            margin-top: 3em;
            cursor: pointer;
            transition: transform 0.1s linear;

            &:hover {
                transform: scale(1.05);
            }

            background: $primary;
            color: white;

            &:disabled {
                border: none;
                background-color: $light;
                color: $secondary;
                cursor: default;

                &:hover {
                    transform: scale(1);
                }
            }
        }
    }
}