@import '/src/styles/variables.scss';

.slider-container {
    position: relative;
    font-size: 0.8rem;
    margin: 2em;

    .slider {
        position: relative;
        z-index: 1;
        height: 0.7em;

        .track {
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 0.3em;
            background-color: #dcbacf;
        }

        .range {
            position: absolute;
            z-index: 2;
            top: 0;
            bottom: 0;

            border-radius: 0.3em;
            background-color: $primary;
        }

        .thumb {
            position: absolute;
            z-index: 3;
            width: 2.2em;
            height: 2.2em;
            border-radius: 50%;
            background-color: $primary;

            &.left {
                transform: translate(-1.1em, -0.7em);
            }

            &.right {
                transform: translate(1.1em, -0.7em);
            }

        }
    }

    input[type=range] {
        position: absolute;
        pointer-events: none;
        -webkit-appearance: none;
        z-index: 3;
        height: 0.7em;
        width: 100%;
        opacity: 0;

        &::-webkit-slider-thumb {
            pointer-events: all;
            width: 2.2em;
            height: 2.2em;
            border: 0 none;
            border-radius: 0;
            border-color: red;
            -webkit-appearance: none;
        }
    }
}