@import '../../styles/variables.scss';

.site-header {
    width: 100%;
    position: fixed;
    height: $headerSize;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $background;
    z-index: 1000;

    div.mobile-menu {
        position: absolute;
        background: $background;
        top: $headerSize;
        height: 100vh;
        padding-bottom: $headerSize;
        right: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transform: translateY(100%);
        transition: transform 0.4s linear, opacity 0.4s linear;

        .mobile-menu-items {
            text-align: center;
            font-size: 3rem;
            font-weight: 200;
        }

        &.active {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .site-navigation {
        display: flex;

        .navigation-items {
            flex: 1 1 33%;
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: repeat(4, auto);
            align-items: center;

            @include breakpoint {
                display: none;
            }

            .nav-link {
                a {
                    padding: 0.3rem 0.2rem;
                    color: $primary;

                    &.nav-active {
                        border-bottom: 2px solid $primary;
                    }
                }
            }
        }
    }

    .site-logo {
        flex: 1 1 50%;
        min-width: 14rem;
        font-size: 2rem;
        text-align: center;

        a {
            font-family: Georgia;
            color: $primary;
            text-transform: uppercase;
        }
    }

    .nav-button {
        flex: 1 1 33%;
        display: flex;
        align-items: center;

        &:first-child {
            justify-content: flex-start;
        }

        &:last-child {
            justify-content: flex-end;
        }

        a,
        button {
            color: $primary;
            font-size: 1.8rem;
            padding: 0 1rem;
        }

        .user-links {
            @include breakpoint {
                display: none;
            }
        }
    }

    .menu-icon {
        display: none;

        @include breakpoint {
            display: flex;
        }
    }
}