@import '/src/styles/variables.scss';

.page.cart {
    margin-top: 2rem;

    .button {
        width: 100%;
        max-width: 25em;
        font-size: 1rem;
        border-radius: 1em;
        padding: 0.5em;
        transition: transform 0.1s linear;
        text-align: center;
        align-self: center;

        &:hover {
            transform: scale(1.05);
        }

        background: $primary;
        color: white;
    }

    .empty-cart {
        text-align: center;
        display: flex;
        flex-direction: column;

        .heading {
            padding: 1rem 4%;
            margin-bottom: 1em;
            border-top: 2px solid $primary;
            border-bottom: 2px solid $primary;
        }

        .main-text{
            margin-bottom: 2em;
        }
    }

    .cart-container {
        width: 100%;

        .table-header {
            @extend %cart-grid;
            text-align: center;
            font-size: 1.4rem;
            padding: 1rem 4%;
            margin-bottom: 1em;
            border-top: 2px solid $primary;
            border-bottom: 2px solid $primary;

            .product {
                grid-column: 1 / span 2;
            }

            .item-total {
                grid-column: 5 / span 1;
            }
        }

        .table-footer {
            display: flex;
            flex-direction: column;
            padding: 1rem 4%;
            border-top: 2px solid $primary;
            // border-bottom: 2px solid $primary;

            .subtotal {
                display: flex;
                justify-content: flex-end;
                margin-bottom: 1em;

                .subtotal-label {
                    font-size: 1.4em;
                    margin-right: 1em;
                }

                .subtotal-value {
                    font-size: 1.4em;
                }
            }
        }

        @include breakpoint {

            .table-header {
                grid-template-columns: 1fr;

                .price,
                .quantity,
                .item-total {
                    display: none;
                }
            }
        }
    }
}