//Fonts
$primaryFont: 'Helvetica',
Verdana,
Geneva,
Tahoma,
sans-serif;

$baseFontSize: 16px;
$mobileFontSize: 14px;

//Colors
$dark: rgb(44, 44, 44);
$light: rgb(230, 230, 230);
// $primary: rgb(0, 73, 184);
$primary: rgb(133, 0, 82);
$accent: rgb(243, 253, 199);

//Others
$headerSize: 6rem;

%pseudo {
    display: block;
    content: '';
}

@mixin breakpoint {
    @media screen and (max-width: 1000px) {
        @content;
    }
}