@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

//Fonts
$primaryFont: 'Poppins',
Verdana,
Geneva,
Tahoma,
sans-serif;

$serif: Georgia,
'Times New Roman',
Times,
serif;


$baseFontSize: 16px;
$mobileFontSize: 13px;

//Colors
$dark: rgb(44, 44, 44);
$light: rgb(240, 240, 240);
$medium: rgb(206, 206, 206);
$primary: rgb(133, 0, 82);
$secondary: #dcbacf;
$sale: rgb(199, 0, 0);

$background: white;

//Others
$headerSize: 10rem;

$gap: 1rem;

%pseudo {
    display: block;
    content: '';
}

%cart-grid {
    display: grid;
    grid-template-columns:
        // minmax(5rem, auto)
        // minmax(7em, 2fr) 
        // minmax(7em, 1fr) 
        // minmax(7em, 1fr) 
        // minmax(7em, 1fr)
        // 2rem
        // ;
        minmax(5rem, auto) 2fr 1fr 1fr 1fr 2rem
}

@mixin breakpoint {
    @media screen and (max-width: 1000px) {
        @content;
    }
}